html {
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #e0e0e0;
}

html body {
  overflow: hidden;
}

.left_top_bar {
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 4vmin;
  position: fixed;
}

.left_top_bar a {
  text-decoration: none;
  position: fixed;
  color: black;
}

.left_top_bar a:nth-child(1) {
  margin-top: -0.5rem;
}

.left_top_bar a:nth-child(2) {
  font-size: 2vmin;
  left: 12%;
  top: 2rem;
}

.left_top_bar a:nth-child(3) {
  font-size: 2vmin;
  left: 17%;
  top: 2rem;
}

.left_top_bar a:nth-child(4) {
  font-size: 2vmin;
  left: 24%;
  top: 2rem;
}

.left_top_bar a:nth-child(5) {
  font-size: 2vmin;
  left: 30%;
  top: 2rem;
}

.left_top_bar .icon_1 {
  aspect-ratio: 1 / 1;
  width: 3rem;
  border-radius: 1.5rem;
  background-color: white;
  position: fixed;
  left: 80%;
}
.left_top_bar .icon_1 img {
  position: fixed;
  width: 3rem;
}
.left_top_bar .icon_2 {
  aspect-ratio: 3/1;
  width: 9rem;
  border-radius: 1.5rem;
  background-color: black;
  color:white;
  font-size: large;
  text-align: center;
  position: fixed;
  left: 83%;
}
.left_top_bar .icon_2 p {
  position: fixed;
  top: 3%;
  left: 84.2%;
}
.left_top_bar .icon_3 {
  aspect-ratio: 3/1;
  width: 9rem;
  border-radius: 1.5rem;
  background-color: black;
  color:white;
  font-size: large;
  text-align:center;
  position: fixed;
  left: 91%;
}

.header {
  position: relative;
  padding-top: 4%;
  text-align: center;
  font-size: 3vmin;
}

/* Style the input field */
.search-bar {
  position: relative;
  display: inline-block;
  width: 400px;
  left: 50%;
  translate: -50% 0;
}

/* Style the input field */
.search-bar input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

/* Style the dropdown menu */
.search-bar .dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Style each item in the dropdown menu */
.search-bar .dropdown-menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

/* Highlight the selected item */
.search-bar .dropdown-menu-item.highlight {
  background-color: #f2f2f2;
}

/* chưa hoàn thiện: phần context */
/*.frame_1{
    aspect-ratio: 192 / 1;
    width: 900rem;
    border-radius: 0rem;
    background-color: white;
    position: relative;
  }*/


* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  background-color: #e0e0e0;
  justify-content: center;
  padding-top: 20px;
}

.dropdown-content a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid black;
}

.dropdown {
  float: left;
}

.btn {
  display: block;
  font-size: 16px;
  outline: none;
  color: black;
  background-color: white;
  padding: 12px 15px;
  font-family: inherit;
  border: 1px solid black;
  min-width: 100px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  color: red;
}

.btn:active {
  color: blue;
}

.dropbtn {
  display: block;
  font-size: 16px;
  outline: none;
  color: black;
  background-color: white;
  padding: 12px 15px;
  font-family: inherit;
  border: 1px solid black;
  min-width: 100px;
  text-decoration: none;
  text-align: center;
  content: '005E';
}

/*.dropbtn:after {
   content: '\02C6';
}*/

.dropbtn:hover {
  color: red;
}

.dropbtn:active {
  color: blue;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #e0e0e0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 320px;
  max-width: 640px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  column-count: 3;
  /* Set the number of columns */
  column-gap: 20px;
  /* Adjust the gap between columns */
  padding: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:active {
  color: red;
}

.ads_frame {
  aspect-ratio: 16 / 9;
  width: 19rem;
  background-color: white;
  position: absolute;
  text-align: center;
}
.ads_frame:nth-child(1){
  left: 20%;
  translate: -20% 40%;
}
.ads_frame:nth-child(2){
  left: 40%;
  translate: -40% 40%;
}
.ads_frame:nth-child(3){
  left: 60%;
  translate: -60% 40%;
}
.ads_frame:nth-child(4){
  left: 80%;
  translate: -80% 40%;
}
.ads_frame:nth-child(5){
  left: 20%;
  translate: -20% 150%;
}
.ads_frame:nth-child(6){
  left: 40%;
  translate: -40% 150%;
}
.ads_frame:nth-child(7){
  left: 60%;
  translate: -60% 150%;
}
.ads_frame:nth-child(8){
  left: 80%;
  translate: -80% 150%;
}
.ads_frame:nth-child(9){
  left: 20%;
  translate: -20% 260%;
}
.ads_frame:nth-child(10){
  left: 40%;
  translate: -40% 260%;
}
.ads_frame:nth-child(11){
  left: 60%;
  translate: -60% 260%;
}
.ads_frame:nth-child(12){
  left: 80%;
  translate: -80% 260%;
}